{:rename-macros {}, :renames {}, :externs {Date {}}, :use-macros {}, :excludes #{}, :name djtest.db, :imports nil, :requires nil, :uses nil, :defs {default-db {:name djtest.db/default-db, :file "src_front/djtest/db.cljs", :line 3, :column 1, :end-line 3, :end-column 16, :meta {:file "/Users/iain/Code/Clojure/Descjop/djtest/src_front/djtest/db.cljs", :line 3, :column 6, :end-line 3, :end-column 16}, :tag cljs.core/IMap}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:name :time :time-colour}, :order [:name :time :time-colour]}, :doc nil}